<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RotiBakar Palu</title>
  </head>
  <body>
    <header>
      <!-- Bottom Navigation -->
      <nav>
        <div class="container_bottnav">
          <a href="#/home" class="container-item">
            <div class="item-icon">
              <img alt="Beranda Icon" />
            </div>
            <div class="item-text">Beranda</div>
          </a>
          <a href="#/sales" class="container-item">
            <div class="item-icon">
              <img alt="Penjualan Icon" />
            </div>
            <div class="item-text">Penjualan</div>
          </a>
          <a href="#/finance" class="container-item">
            <div class="item-icon">
              <img alt="Keuangan Icon" />
            </div>
            <div class="item-text">Keuangan</div>
          </a>
        </div>
      </nav>

      <!-- Header -->
      <div class="container-profile">
        <div class="date"></div>
        <div class="profile-container">
          <img
            src="https://via.placeholder.com/40"
            alt="Profile"
            class="profile-icon"
          />
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main id="mainContent"></main>
  </body>
  <footer></footer>
</html>
