<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RotiBakar Palu</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="header">
      <!-- Bottom Navigation -->
      <nav>
        <div class="container_bottnav">
          <a href="#/home" class="container-item">
            <div class="item-icon">
              <img alt="Beranda Icon" />
            </div>
            <div class="item-text">Beranda</div>
          </a>
          <a href="#/sales" class="container-item">
            <div class="item-icon">
              <img alt="Penjualan Icon" />
            </div>
            <div class="item-text">Penjualan</div>
          </a>
          <a href="#/finance" class="container-item">
            <div class="item-icon">
              <img alt="Keuangan Icon" />
            </div>
            <div class="item-text">Keuangan</div>
          </a>
        </div>
      </nav>

      
      <!-- Header -->
      <div class="container-profile">
        <div class="userData">
          <div class="profile-container">
            <img
              src="https://via.placeholder.com/40"
              alt="Profile"
              class="profile-icon"
            />
            <ul class="dropdown-menu">
              <li id="manualUpdate"><a><i class="fas fa-sync"></i> Sync data</a></li>
              <li id="settingsPage"><a href="#/settings"><i class="fas fa-gear"></i> Settings</a></li>
              <li><a href="#/login"><i class="fas fa-sign-out"></i> Logout</a></li>
            </ul>
          </div>
          <div class="">
            <span id="welcome"></span>
          </div>
        </div>


        <div class="toggle-button-cover">
          <div id="button-3" class="button r">
            <input class="checkbox" type="checkbox" />
            <div class="knobs"></div>
            <div class="layer"></div>
          </div>
        </div>
      </div>
    </header>


    <div class="tooltip-container">
      <a class="button-content">
        <img
          class="share-icon"
          alt="Navigation Icon"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        />
      </a>
      <div class="tooltip-content">
        <div class="item-icons">
          <a href="#/home" class="social-icon home">
            <img
              alt="Beranda Icon"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            />
          </a>
          <a href="#/sales" class="social-icon sales">
            <img
              alt="Penjualan Icon"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            />
          </a>
          <a href="#/finance" class="social-icon finance">
            <img
              alt="Keuangan Icon"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="overlay" style="display: none"></div>
    <div class="custom-loader" style="display: none">
      <div class="loader-icon"></div>
      <span class="loader-text"></span>
    </div>

    <main id="mainContent"></main>
    
  </body>
  <footer></footer>
</html>
