/*
:::: Home
*/
.overview-bar {
  width: 100%;
  height: 40px;
  background-color: white;
  border-width: 1.8px 0;
  border-style: solid;
  border-color: rgb(240, 239, 239);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-top: -25px;
}

.overview-bar p {
  font-weight: 500;
  font-size: large;
}

.overview-navigator {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
}
.overview-navigator a {
  color: black;
}
.overview-navigator a:hover {
  font-weight: 600;
}

/*
:::: Home Content
*/

.home-content {
  width: 100%;
  padding: 20px;
  background-color: whitesmoke;
  display: grid;
  gap: 20px;
}

.section-overview .card,
.section-charts .card {
  width: 100%;
  background-color: white; /* Use a more specific color code */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Define the shadow */
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}
.section-overview .card span,
.section-charts .card span {
  font-size: small;
  color: gray;
}

/*
:::: Tooltip
*/

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip i {
  color: #8b8b8b;
  font-size: small;
}

#cash,
#debit,
#profitText,
#currIncome,
#currExpense,
#prevIncome,
#prevExpense {
  color: white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%; /* Position the tooltip above the text */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext#totalCashTootltip {
  background-color: #f9f9ee;
  width: 100%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
.tooltiptext#totalCashTootltip::after {
  content: "";
  position: absolute;
  top: -18%; /* At the bottom of the tooltip */
  left: 20%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f9f9ee transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*
:::: Overview Section 
*/
.section-overview {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 1.5fr;
  gap: 20px;
}
.fas {
  padding: 3px;
  border-radius: 5px;
}
#arrUp {
  color: rgb(6, 169, 0);
  background-color: rgba(172, 255, 47, 0.21);
}
#arrUp span::before {
  content: " +";
  font-size: small;
}
#arrUp span::after {
  content: "%";
  font-size: small;
}
#arrDown {
  /* display: none; */
  color: rgb(190, 0, 0);
  background-color: rgba(255, 0, 0, 0.21);
  /* display: ; */
}
#arrDown span::before {
  content: "";
}
#arrDown span::after {
  content: "%";
  font-size: small;
}
.profit-icon i {
  font-size: x-small;
}
.profit-icon i span {
  font-weight: 400;
}
.profit-icon span {
  font-size: x-small;
}

/* khusus */
.financial-bread {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
p4 {
  font-size: larger;
  font-weight: 620;
}

/*
:::: Charts
*/

.chart-body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-charts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card.finance-charts,
.card.stocks-charts,
.card.financialFlow {
  width: 100%;
  /* display: grid; */
  gap: 15px;
  height: auto;
}
.chart-headers {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #e2780d63, #f1a96063);
  color: rgb(120, 54, 0);
  margin: -10px -10px 0 -10px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.filters {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.filters i {
  transform: translateX(33px);
  /* z-index: 10; */
}
.filters select {
  width: auto;
  margin: 0;
  height: 35px;
  padding: 5px 5px 5px 25px;
  border-color: rgb(194, 194, 194);
  border-radius: 10px;
  cursor: pointer;
}
/* Financial */
#finance-filter-year,
#stocks-filter-year,
#cash-flow-filter-year {
  margin: 0;
  border-radius: 10px;
  height: 35px;
}
#finance-filter-my,
#stocks-filter-my,
#cash-flow-filter-my {
  margin: 0;
  height: 35px;
  width: auto;
  border-style: none;
  padding: 5px;
}
#finance-filter-my:hover,
#finance-filter-my:hover,
#cash-flow-filter-my:hover {
  cursor: pointer;
}
#finance-filter-week,
#stocks-filter-week,
#cash-flow-filter-week {
  padding-left: 5px;
}

/*
:::: Prediction Chart
*/
.predictionsDataTableContainer {
  margin: 10px 0;
  width: 100%;
}
.predictionsDataTable {
  all: unset;
  border-style: none;
  border: none;
  background-color: white;
  /* margin: 40px 0; */
  align-self: flex-start;
  width: 100%;
  height: auto;
}
.predictionsDataTable th,
.predictionsDataTable td {
  width: auto;
  border: none;
  background-color: white;
  padding-bottom: 0;
  padding-top: 0;
  font-size: medium;
  font-weight: 500;
  color: rgb(120, 54, 0);
}
#predTooltip {
  color: white;
}

/*
:::: Responsive Home
*/

@media (min-width: 1439.99px) {
  .home-content,
  .overview-bar {
    transition: 0.3s ease all;
  }
  .section-charts {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 1300.99px) {
  .chart-body {
    padding: 0 10%;
    transition: 0.3s ease all;
  }
  #predictionAccuracy {
    max-width: 500px !important;
    max-height: 500px !important;
  }
}

@media (max-width: 768.99px) and (min-width: 425.99px) {
  .section-overview {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #todayCashStatus,
  #todayProfitStatus,
  #soldStockStatus,
  #spoiledStockStatus {
    display: flex;
    flex-wrap: wrap;
  }

  #todayCashStatus p4,
  #todayProfitStatus p4,
  #soldStockStatus p4,
  #spoiledStockStatus p4 {
    width: 100%;
  }

  #todayCashStatus span,
  #todayProfitStatus span,
  #soldStockStatus span,
  #spoiledStockStatus span {
    width: 100%;
    font-size: small;
  }
}

@media (max-width: 768.99px) {
  .chart-body {
    padding: 1%;
  }
  canvas {
    width: max-content;
  }
}

@media (max-width: 600.99px) {
  .section-overview {
    grid-template-columns: 1fr;
  }
  #breadStockCard {
    grid-column: unset;
  }
  .chart-headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .chart-body {
    position: relative;
    height: auto; /* Atur tinggi sesuai kebutuhan */
    width: 100%;
    overflow: auto; /* Tambahkan ini untuk mengizinkan pengguliran */
  }
  .filters {
    scale: 0.8;
    width: 110%;
    margin-left: -13px;
  }
  .filters select {
    width: 100%;
  }
}

@media (max-width: 425.99px) {
  .section-charts {
    max-width: 100%;
  }
  /* .chart-body {
    max-width: 350px;
  } */
  canvas {
    scale: 1;
  }
  .predictionsDataTable th,
  .predictionsDataTable td {
    font-size: x-small;
  }
}
